<div class="login">
  <h1>Sign up</h1>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field edit-user-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field edit-user-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name" %>
    </div>
  
    <div class="field edit-user-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
    </div>
  
    <div class="field edit-user-field">
      <%= f.label :password, 'Password (6 characters minimum)' %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  
    <div class="field edit-user-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="signup-buttons">
      <div class="actions edit-user-submit">
        <%= f.submit "Sign up" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
