<div class="comment" data-controller='comments'>
  <div class="user-comment">
    <% if comment.author.profile_pic.attached? %>
      <%= link_to image_tag(comment.author.profile_pic, class: 'user-pfp'), comment.author, target: '_top' %>
    <% else %>
      <%= link_to image_tag('blank-profile-pic', class: 'user-pfp'), comment.author, target: '_top' %>
    <% end %>
    <div class="comment-box">
      <h4 class='comment-box-title'><%= link_to "#{comment.author.first_name} #{comment.author.last_name}", comment.author %></h4>
      <p class='comment-box-body'><%= comment.body %></p>
    </div>
    <div class="comment-links">
      <%= turbo_frame_tag comment, class: 'comment-links-frame' do %>
        <% if current_user.likes.pluck(:comment_id).include?(comment.id) %>
          <%= button_to 'Like', like_path(comment.likes.find_by(user_id: current_user.id)), method: :delete, class: 'like-active comment-like-button' %>
        <% else %>
          <%= button_to 'Like', likes_path(like: {comment_id: comment.id, user_id: current_user.id}), data: {'turbo-method': :post}, class: 'comment-like-button' %>
        <% end %>
        <%= link_to 'Reply', new_post_comment_path(comment.post, parent_id: comment.id), data: {turbo_frame: "new_reply_#{comment.id}"} %>
      <% end %>
    </div>
    <%= turbo_frame_tag "new_reply_#{comment.id}", class: 'reply-frame', data: {action: 'turbo:frame-render->comments#focusReply'} do %>
    <% end %>
  </div>
  <div class='comment-replies' id='comment_replies'>
    <%= render 'comments/post_comments', comments: comment.replies %>
  </div>
</div>
