<div class="profile-page">
  <div class="profile-user-info">
    <%= render 'components/profile_header' %>
    <div class="profile-resources">
      <div class="profile-picture">
        <%= image_tag 'test-profile' %>
      </div>
      <div class="profile-details">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p>56 Friends • 8 Friends in common</p>
        <div class='common-friends-pics'>
          <% 8.times do %>
            <%= image_tag 'test-profile' %>
          <% end %>
        </div>
      </div>
      <div class="profile-buttons">
        <button class='profile-friends-button profile-button'><i class="fa-solid fa-user-group"></i> Friends</button>
        <button class='profile-message-button profile-button'><i class="fa-brands fa-facebook-messenger"></i> Message</button>
      </div>
    </div>
    <hr>
    <div class="profile-navbar">
      <ul>
        <li><a href="">Posts</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Friends</a></li>
        <li><a href="">Pictures</a></li>
        <li><a href="">Videos</a></li>
      </ul>
    </div>
  </div>
  <div class="profile-content">
    <div class='profile-content-details'>
      <h3>Details</h3>
      <p class='quote'>Some quote</p>
      <hr>
      <p>Engineer in Facebook</p>
      <p>Studied at Harvard</p>
      <p>Studied at MIT</p>
    </div>
    <div class="profile-content-comment">
      <%= image_tag 'test-profile' %>
      <%= render 'comments/new_comment', post: Post.last %>
    </div>
    <div class="profile-posts-identifier">
      <h2>Posts</h2>
    </div>
    <div class="profile-posts">
      <% @user.posts.reverse_each do |p| %>
        <%= render 'posts/post_show', post: p %>
      <% end %>
    </div>
  </div>
</div>
