<div class="profile-page">
  <div class="profile-user-info">
    <%= render 'components/profile_header', user: @user %>
    <div class="profile-resources">
      <div class="profile-picture">
        <% if @user.profile_pic.attached? %>
          <%= image_tag @user.profile_pic %>
        <% elsif !@user.avatar.nil?%>
          <%= image_tag @user.avatar %>
        <% else%>
          <%= image_tag 'blank-profile-pic' %>
        <% end %>
      </div>
      <div class="profile-details">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.friends.count %> Friends</p>
        <div class='common-friends-pics'>
          <% @user.friends.limit(8).each do |friend| %>
            <% unless friend.profile_pic.attached? %>
              <%= link_to image_tag('blank-profile-pic'), friend %>
            <% else %>
              <%= link_to image_tag(friend.profile_pic), friend %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag @user, class: 'profile-buttons' do %>
        <% if current_user == @user %>
          <%= link_to edit_user_profile_path, class: 'profile-message-button profile-button', target: '_top' do %>
            <i class="fa-solid fa-user-pen"></i> Edit Profile
          <% end %>
        <% end %>
        <% if current_user != @user && !current_user.friend_of?(@user) %>
          <% if !current_user.pending_friend_of?(@user) %>
            <%= button_to create_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Add Friend
            <% end %>
          <% elsif current_user.pending_requests.sent.include?(@user) %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Cancel Request
            <% end %>
          <% else %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Decline Request
            <% end %>
          <% end %>
        <% end %>
        <%= link_to friends_path(@user), class: 'profile-friends-button profile-button', data: { turbo_frame: 'profile-content' } do %>
          <i class="fa-solid fa-user-group"></i> Friends
        <% end %>
      <% end %>
    </div>
    <hr>
    <div class="profile-navbar">
      <ul>
        <li><%= link_to 'Posts', user_posts_path(@user), data: { turbo_frame: 'profile-content' } %></li>
        <li><%= link_to 'Friends', friends_path(@user), data: { turbo_frame: 'profile-content' } %></li>
      </ul>
    </div>
  </div>
  <div class="profile-content">
    <div class='profile-content-details'>
      <h3>Details</h3>
      <p class='quote'>
        <% if @user.quote.length > 0 && !@user.quote.nil?  %>
          "<%= @user.quote %>"
        <% end %>
      </p>
      <hr>
      <% unless @user.birthday.class == NilClass %>
        <p>Birthday: <%= @user.birthday.to_fs(:long_ordinal) %></p>
      <% end %>
      <% unless @user.school == '' %>
        <p>School: <%= @user.school %></p>
      <% end %>
      <% unless @user.occupation == '' %>
        <p>Occupation: <%= @user.occupation %></p>
      <% end %>
      <% unless @user.company == '' %>
        <p>Currently working at: <%= @user.company %> </p>
      <% end %>
      <% unless @user.country == '' %>
        <p>Country: <%= @user.country %></p>
      <% end %>
    </div>
    <%= turbo_frame_tag 'profile-content', src: user_posts_path(@user) %>
  </div>
</div>
