<div class="profile-page">
  <div class="profile-user-info">
    <%= render 'components/profile_header' %>
    <div class="profile-resources">
      <div class="profile-picture">
        <%= image_tag 'test-profile' %>
      </div>
      <div class="profile-details">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.friends.count %> Friends</p>
        <div class='common-friends-pics'>
          <% 8.times do %>
            <%= image_tag 'test-profile' %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag @user, class: 'profile-buttons' do %>
        <% if current_user != @user && !current_user.friend_of?(@user) %>
          <% if !current_user.pending_friend_of?(@user) %>
            <%= button_to create_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Add Friend
            <% end %>
          <% elsif current_user.pending_requests.sent.include?(@user) %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Cancel Request
            <% end %>
          <% else %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Decline Request
            <% end %>
          <% end %>
        <% end %>
        <% unless current_user == @user && !current_user.friend_of?(@user) %>
          <button class='profile-message-button profile-button'><i class="fa-brands fa-facebook-messenger"></i> Message</button>
        <% end %>
        <button class='profile-friends-button profile-button'><i class="fa-solid fa-user-group"></i> Friends</button>
      <% end %>
    </div>
    <hr>
    <div class="profile-navbar">
      <ul>
        <li><a href="">Posts</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Friends</a></li>
        <li><a href="">Pictures</a></li>
        <li><a href="">Videos</a></li>
      </ul>
    </div>
  </div>
  <div class="profile-content">
    <div class='profile-content-details'>
      <h3>Details</h3>
      <p class='quote'>Some quote</p>
      <hr>
      <p>Engineer in Facebook</p>
      <p>Studied at Harvard</p>
      <p>Studied at MIT</p>
    </div>
    <div class="profile-content-comment">
      <%= image_tag 'test-profile' %>
      <%= render 'comments/new_comment', post: Post.last %>
    </div>
    <div class="profile-posts-identifier">
      <h2>Posts</h2>
    </div>
    <div class="profile-posts">
      <%= render @user.posts %>
    </div>
  </div>
</div>
