<div class="profile-page">
  <div class="profile-user-info">
    <%= render 'components/profile_header', user: @user %>
    <div class="profile-resources">
      <div class="profile-picture">
        <% if @user.profile_pic.attached? %>
          <%= image_tag @user.profile_pic %>
        <% elsif !@user.avatar.nil?%>
          <%= image_tag @user.avatar %>
        <% else%>
          <%= image_tag 'blank-profile-pic' %>
        <% end %>
      </div>
      <div class="profile-details">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.friends.count %> Friends</p>
        <div class='common-friends-pics'>
          <% 8.times do %>
            <%= image_tag 'test-profile' %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag @user, class: 'profile-buttons' do %>
        <% if current_user == @user %>
          <%= link_to edit_user_profile_path, class: 'profile-message-button profile-button', target: '_top' do %>
            <i class="fa-solid fa-user-pen"></i> Edit Profile
          <% end %>
        <% end %>
        <% if current_user != @user && !current_user.friend_of?(@user) %>
          <% if !current_user.pending_friend_of?(@user) %>
            <%= button_to create_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Add Friend
            <% end %>
          <% elsif current_user.pending_requests.sent.include?(@user) %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Cancel Request
            <% end %>
          <% else %>
            <%= button_to decline_friend_request_path(user_id: @user.id), class: 'profile-message-button profile-button' do %>
              <i class="fa-solid fa-user-plus"></i> Decline Request
            <% end %>
          <% end %>
        <% end %>
        <% unless current_user == @user && !current_user.friend_of?(@user) %>
          <button class='profile-message-button profile-button'><i class="fa-brands fa-facebook-messenger"></i> Message</button>
        <% end %>
        <button class='profile-friends-button profile-button'><i class="fa-solid fa-user-group"></i> Friends</button>
      <% end %>
    </div>
    <hr>
    <div class="profile-navbar">
      <ul>
        <li><a href="">Posts</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Friends</a></li>
        <li><a href="">Pictures</a></li>
        <li><a href="">Videos</a></li>
      </ul>
    </div>
  </div>
  <div class="profile-content">
    <div class='profile-content-details'>
      <h3>Details</h3>
      <p class='quote'>
        <% if @user.quote.length > 0 && !@user.quote.nil?  %>
          "<%= @user.quote %>"
        <% end %>
      </p>
      <hr>
      <p>Birthday: <%= @user.birthday.to_fs(:long_ordinal) %></p>
      <p>School: <%= @user.school %></p>
      <p>Occupation: <%= @user.occupation %></p>
      <p>Currently working at: <%= @user.company %> </p>
      <p>Country: <%= @user.country %></p>
    </div>
    <div class="profile-content-comment">
      <% if current_user.profile_pic.attached? %>
        <%= image_tag current_user.profile_pic %>
      <% else %>
        <%= image_tag 'blank-profile-pic' %>
      <% end %>
      <%= turbo_frame_tag 'new_comment', src: new_post_comment_path(Post.last) %>
    </div>
    <div class="profile-posts-identifier">
      <h2>Posts</h2>
    </div>
    <div class="profile-posts">
      <%= render @posts %>
    </div>
  </div>
</div>
