<div class="post" data-controller='post'>
  <div class="post-title">
    <% if post.author.profile_pic.attached? %>
      <%= link_to image_tag(post.author.profile_pic), post.author %>
    <% else %>
      <%= link_to image_tag('blank-profile-pic'), post.author %>
    <% end %>
    <h3><%= link_to "#{post.author.first_name} #{post.author.last_name}", post.author %></h3>
    <p><%= post.created_at.localtime.to_fs(:standard) %></p>
  </div>
  <div class="post-body">
    <p><%= post.body %></p>
  </div>
  <% if post.shared_post_id.nil? %>
    <% if post.pictures.attached? %>
      <div class="post-attachment">
        <%= link_to image_tag(post.pictures[0], class: 'post-picture modal-link'), post %>
      </div>
    <% end %>
  <% else %>
    <div class="shared-post"><%= render 'posts/shared_post', post: Post.find(post.shared_post_id) %></div>
  <% end %>
  <%= turbo_frame_tag post, class: 'post-frame' do %>
    <div class="post-analytics">
      <p>
        <%= link_to likes_path(post_id: post.id), data: { turbo_frame: 'modal', action: 'post#toggleBodyScrolling' }, class: 'like-count' do %>
          Likes: <%= post.likes.count %>
        <% end %>
      </p>
      <p>Comments: <%= post.comments.count %></p>
    </div>
    <div class="post-resources">
      <% if current_user.likes.pluck(:post_id).include?(post.id) %>
        <%= button_to like_path(post.likes.find_by(user_id: current_user.id)), method: :delete, class: 'liked like-button button' do %>
          <i class="fa-solid fa-thumbs-up"></i> Like
        <% end %>
      <% else %>
        <%= button_to likes_path(like: {post_id: post.id, user_id: current_user.id}), class: 'like-button button' do %>
          <i class="fa-regular fa-thumbs-up like-icon"></i> Like
        <% end %>
      <% end %>
      <%= button_to root_path ,class: 'comment-button button', data: { 'action': 'post#focusComment:prevent' } do %>
        <i class="fa-solid fa-comment-dots"></i> Comment
      <% end %>
      <%= button_to new_shared_post_path(post), class: 'share-button button', method: :get, data: {turbo_frame: 'modal', action: 'post#toggleBodyScrolling'} do %>
        <i class="fa-solid fa-share"></i> Share
      <% end %>
    </div>
  <% end %>
  <div class="post-comments">
    <div class="new-comment-index">
      <%= turbo_frame_tag 'new_comment', src: new_post_comment_path(post) %>
    </div>
    <div class="comments-index" id='comments_<%= post.id %>'><%= render post.comments.original_comment.order(created_at: :desc) %></div>
  </div>
</div>
