<div class='post-modal'>
  <div class='post-modal-header'>
    <%= link_to 'javascript:history.back()', class: 'post-modal-back-link', 'data-action': 'post#toggleScrolling' do%>
      <i class="fa-solid fa-arrow-left-long"></i>
    <% end %>
  </div>
  <% if post.pictures.attached? %>
    <div class="post-modal-attachment">
      <%= image_tag post.pictures[0], class: 'post-modal-image' %>
    </div>
  <% end %>
  <div class="post-modal-right">
    <div class="post-modal-description">
      <h3><%= post.author.first_name %> <%= post.author.last_name %></h3>
      <p><%= post.body %></p>
    </div>
    <%= render 'components/post_resources', post: post %>
    <div class="comments-box"><%= render 'comments/post_comments', comments: post.comments.original_comment %></div>
    <div>
      <%= render 'comments/new_comment', post: post %>
    </div>
  </div>
</div>
