<div class="post" data-controller='post'>
  <div class="post-title">
    <%= link_to image_tag('test-profile'), post.author %>
    <h3><%= link_to "#{post.author.first_name} #{post.author.last_name}", post.author %></h3>
  </div>
  <div class="post-body">
    <p><%= post.body %></p>
  </div>
  <% if post.pictures.attached? %>
    <div class="post-attachment">
      <% post.pictures.each do |picture| %>
        <%= link_to image_tag(picture, class: 'post-picture modal-link'), post %>
      <% end %>
    </div>
  <% end %>
  <%= turbo_frame_tag post, class: 'post-frame' do %>
    <div class="post-analytics">
      <p>Likes: <%= post.likes.count %></p>
      <p>Comments: <%= post.comments.count %></p>
    </div>
    <div class="post-resources">
      <% if current_user.likes.pluck(:post_id).include?(post.id) %>
        <%= button_to like_path(post.likes.find_by(user_id: current_user.id)), method: :delete, class: 'liked like-button button' do %>
          <i class="fa-solid fa-thumbs-up"></i> Like
        <% end %>
      <% else %>
        <%= button_to likes_path(like: {post_id: post.id, user_id: current_user.id}), class: 'like-button button' do %>
          <i class="fa-regular fa-thumbs-up like-icon"></i> Like
        <% end %>
      <% end %>
      <%= button_to root_path ,class: 'comment-button button', data: { 'action': 'post#focusComment:prevent' } do %>
        <i class="fa-solid fa-comment-dots"></i> Comment
      <% end %>
      <%= button_to root_path, class: 'share-button button' do %>
        <i class="fa-solid fa-share"></i> Share
      <% end %>
    </div>
  <% end %>
  <div class="post-comments">
    <div class="new-comment-index"><%= render 'comments/new_comment', post: post %></div>
    <div class="comments-index"><%= render 'comments/post_comments', comments: post.comments.original_comment.take(2) %></div>
  </div>
</div>
